In [1]:
import json
import requests
import pandas as pd

In [2]:
import sqlite3 
conn = sqlite3.connect('database.sqlite')
c = conn.cursor()

In [3]:
import time
import datetime

In [4]:
with open('/Users/BPL/Flatiron Data Science/.secret/darksky_api.json') as f:
    api_key = json.load(f)['api_key']

In [5]:
url = 'https://api.darksky.net/forecast/'

In [6]:
d = datetime.date(2015,1,5)

unixtime = time.mktime(d.timetuple())

In [7]:
lat = 52.52
long = 13.405
time = '2012-03-31T12:00:00'

In [8]:
request_url = url + api_key +'/' + str(lat) + ',' + str(long) + ',' + time

In [9]:
request_url

'https://api.darksky.net/forecast/4752f8e5c2398cf3489a5d10d2c8a615/52.52,13.405,2012-03-31T12:00:00'

In [17]:
response = requests.get(request_url)

In [280]:
print(response.text[:500])

{"latitude":52.52,"longitude":13.405,"timezone":"Europe/Berlin","currently":{"time":1333188000,"summary":"Possible Drizzle","icon":"rain","precipIntensity":0.003,"precipProbability":0.56,"precipType":"rain","temperature":44.62,"apparentTemperature":36.33,"dewPoint":31.67,"humidity":0.6,"windSpeed":21,"windGust":31.09,"windBearing":299,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},"hourly":{"summary":"Possible drizzle in the morning and afternoon.","icon":"rain","data":[{"time":1333144800,"su

In [21]:
response.json().keys()

dict_keys(['latitude', 'longitude', 'timezone', 'currently', 'hourly', 'daily', 'flags', 'offset'])

In [38]:
response.json()['daily']['data'][0]['icon']

'rain'

In [71]:
import pymongo

In [72]:
filename = '/Users/BPL/Flatiron Data Science/.secret/connection_string_mongo_jj'
with open(filename, 'r') as f:
    connection_string = f.read().strip()

In [73]:
connection_string

'mongodb+srv://bl419:wildcat2011@demo-22072019-grdgg.mongodb.net/test?retryWrites=true&w=majority'

In [76]:
mc = pymongo.MongoClient(connection_string)

In [77]:
mc.list_database_names()

['coffee', 'football_matches', 'admin', 'local']

In [78]:
db = mc['football_matches']

In [79]:
coll = db['epl_gl_2011_matches']

In [282]:
list(coll.find())[0]

{'_id': ObjectId('5d38e8df918f9a68e9a736c6'),
 'Match_ID': 1092,
 'Div': 'D1',
 'Season': 2011,
 'Date': '2012-03-31',
 'HomeTeam': 'Nurnberg',
 'AwayTeam': 'Bayern Munich',
 'FTHG': 0,
 'FTAG': 1,
 'FTR': 'A',
 'weather': 'rain'}

In [81]:
#retrieve datafrom MongoDB
match2011_df = pd.DataFrame(list(coll.find()))

In [83]:
#preview data
match2011_df.head(10)

,AwayTeam,Date,Div,FTAG,FTHG,FTR,HomeTeam,Match_ID,Season,_id,weather
0,Bayern Munich,2012-03-31,D1,1,0,A,Nurnberg,1092,2011,5d38e8df918f9a68e9a736c6,rain
1,Bayern Munich,2011-12-11,D1,2,1,A,Stuttgart,1093,2011,5d38e8df918f9a68e9a736c7,partly-cloudy-day
2,Bayern Munich,2011-08-13,D1,1,0,A,Wolfsburg,1094,2011,5d38e8df918f9a68e9a736c8,partly-cloudy-day
3,Bayern Munich,2011-11-27,D1,2,3,H,Mainz,1095,2011,5d38e8df918f9a68e9a736c9,partly-cloudy-day
4,Bayern Munich,2012-02-18,D1,0,0,D,Freiburg,1096,2011,5d38e8df918f9a68e9a736ca,partly-cloudy-day
5,Bayern Munich,2012-01-20,D1,1,3,H,M'gladbach,1097,2011,5d38e8df918f9a68e9a736cb,rain
6,Bayern Munich,2012-02-04,D1,1,1,D,Hamburg,1098,2011,5d38e8df918f9a68e9a736cc,partly-cloudy-day
7,Bayern Munich,2012-04-21,D1,2,1,A,Werder Bremen,1099,2011,5d38e8df918f9a68e9a736cd,partly-cloudy-day
8,Bayern Munich,2011-09-18,D1,2,0,A,Schalke 04,1100,2011,5d38e8df918f9a68e9a736ce,rain
9,Bayern Munich,2011-10-23,D1,1,2,H,Hannover,1101,2011,5d38e8df918f9a68e9a736cf,rain

In [95]:
match2011_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 11 columns):
AwayTeam    992 non-null object
Date        992 non-null object
Div         992 non-null object
FTAG        992 non-null int64
FTHG        992 non-null int64
FTR         992 non-null object
HomeTeam    992 non-null object
Match_ID    992 non-null int64
Season      992 non-null int64
_id         992 non-null object
weather     992 non-null object
dtypes: int64(4), object(7)
memory usage: 85.3+ KB

In [99]:
match2011_df['weather'].value_counts()

partly-cloudy-day    468
rain                 328
clear-day            194
fog                    2
Name: weather, dtype: int64

In [92]:
from pandasql import sqldf

In [93]:
pysqldf = lambda q: sqldf(q, globals())

In [100]:
query_string = "weather == 'rain'"
rain_df = match2011_df.query(query_string)

In [102]:
groupby_home = rain_df.groupby('HomeTeam')

In [274]:
groupby_home['FTR'].count()

HomeTeam
Aachen                 5
Arsenal                4
Aston Villa            7
Augsburg               7
Bayern Munich          4
Blackburn              8
Bochum                 5
Bolton                 4
Braunschweig           4
Chelsea                7
Cottbus                5
Dortmund               5
Dresden                4
Duisburg               7
Ein Frankfurt          4
Erzgebirge Aue         7
Everton                9
FC Koln                8
Fortuna Dusseldorf     8
Frankfurt FSV          8
Freiburg               4
Fulham                 7
Greuther Furth         6
Hamburg                4
Hannover               8
Hansa Rostock          8
Hertha                 7
Hoffenheim             5
Ingolstadt             7
Kaiserslautern         6
Karlsruhe              8
Leverkusen             8
Liverpool              7
M'gladbach             6
Mainz                  4
Man City               5
Man United             4
Munich 1860            9
Newcastle             10
Norwich                3
Nurnberg               6
Paderborn              5
QPR                    4
Schalke 04             3
St Pauli               6
Stoke                  5
Stuttgart              4
Sunderland             5
Swansea                5
Tottenham              6
Union Berlin           6
Werder Bremen          6
West Brom              3
Wigan                  8
Wolfsburg              3
Wolves                 7
Name: FTR, dtype: int64

In [278]:
#pd.DataFrame(groupby_home['FTR'].value_counts()).unstack()

In [127]:
#pivot = groupby_home.pivot(index='HomeTeam', columns='FTR', values='FTR')

In [164]:
home_rain_stats_df = pd.DataFrame(groupby_home['FTR'].value_counts()).unstack()

In [177]:
home_rain_stats_df.columns

MultiIndex(levels=[['FTR'], ['A', 'D', 'H']],
           labels=[[0, 0, 0], [0, 1, 2]],
           names=[None, 'FTR'])

In [180]:
#We could also flatten these:
cols0 = home_rain_stats_df.columns.get_level_values(0)
cols1 = home_rain_stats_df.columns.get_level_values(1)
home_rain_stats_df.columns = [col0 + '_' + col1 if col1 != '' else col0 for col0, col1 in list(zip(cols0, cols1))]
#The list comprehension above is more complicated then what we need but creates a nicer formatting and
#demonstrates using a conditional within a list comprehension.
#This simpler version works but has some tail underscores where col1 is blank:
#grouped.columns = [col0 + '_' + col1 for col0, col1 in list(zip(cols0, cols1))]

In [182]:
home_rain_stats_df.head()

               FTR_A  FTR_D  FTR_H
HomeTeam
Aachen           NaN    4.0    1.0
Arsenal          1.0    NaN    3.0
Aston Villa      3.0    3.0    1.0
Augsburg         2.0    1.0    4.0
Bayern Munich    1.0    NaN    3.0

In [190]:
home_rain_stats_df = home_rain_stats_df.applymap(lambda x: 0 if pd.isnull(x) else int(x))

In [192]:
home_rain_stats_df.shape

(56, 3)

In [193]:
home_rain_stats_df.columns = ['h_loss', 'h_draw','h_win']

In [195]:
home_rain_stats_df.head()

               h_loss  h_draw  h_win
HomeTeam
Aachen              0       4      1
Arsenal             1       0      3
Aston Villa         3       3      1
Augsburg            2       1      4
Bayern Munich       1       0      3

In [196]:
groupby_away = rain_df.groupby('AwayTeam')

In [197]:
away_rain_stats_df = pd.DataFrame(groupby_away['FTR'].value_counts()).unstack()

In [201]:
cols0 = away_rain_stats_df.columns.get_level_values(0)
cols1 = away_rain_stats_df.columns.get_level_values(1)
away_rain_stats_df.columns = [col0 + '_' + col1 if col1 != '' else col0 for col0, col1 in list(zip(cols0, cols1))]

In [203]:
away_rain_stats_df = away_rain_stats_df.applymap(lambda x: 0 if pd.isnull(x) else int(x))

In [204]:
away_rain_stats_df.columns = ['a_loss', 'a_draw','a_win']

In [211]:
away_rain_stats_df.head()

               a_loss  a_draw  a_win
AwayTeam
Aachen              2       5      1
Arsenal             2       2      2
Aston Villa         1       3      1
Augsburg            0       2      2
Bayern Munich       5       0      2

In [206]:
c.execute("""SELECT * FROM Unique_Teams;""")
ddf = pd.DataFrame(c.fetchall())
ddf.columns = [x[0] for x in c.description]
ddf.head(10)

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5
5     M'gladbach               6
6      Wolfsburg               7
7        FC Koln               8
8     Hoffenheim               9
9         Hertha              10

In [209]:
team_id_dict = ddf.set_index('TeamName')['Unique_Team_ID'].to_dict()

In [221]:
home_rain_stats_df = home_rain_stats_df.reset_index()

In [226]:
away_rain_stats_df = away_rain_stats_df.reset_index()

In [212]:
def get_team_id(team_name, team_id_dict):
    return team_id_dict[team_name]

In [223]:
home_rain_stats_df['Team_ID'] = home_rain_stats_df['HomeTeam'].apply(lambda x: get_team_id(x, team_id_dict))

In [228]:
away_rain_stats_df['Team_ID'] = away_rain_stats_df['AwayTeam'].apply(lambda x: get_team_id(x, team_id_dict))

In [290]:
#merge
rain_stats_df = pd.merge(home_rain_stats_df, away_rain_stats_df, on='Team_ID')

In [292]:
rain_stats_df.head()

,HomeTeam,h_loss,h_draw,h_win,Team_ID,AwayTeam,a_loss,a_draw,a_win
0,Aachen,0,4,1,34,Aachen,2,5,1
1,Arsenal,1,0,3,81,Arsenal,2,2,2
2,Aston Villa,3,3,1,82,Aston Villa,1,3,1
3,Augsburg,2,1,4,15,Augsburg,0,2,2
4,Bayern Munich,1,0,3,1,Bayern Munich,5,0,2

In [293]:
rain_stats_df['TeamName'] = rain_stats_df['HomeTeam']

In [294]:
rain_stats_df['tot_win_rain'] = rain_stats_df['h_win']+rain_stats_df['a_win']

In [295]:
rain_stats_df['tot_draw_rain'] = rain_stats_df['h_draw']+rain_stats_df['a_draw']

In [296]:
rain_stats_df['tot_loss_rain'] = rain_stats_df['h_loss']+rain_stats_df['a_loss']

In [298]:
rain_stats_df = rain_stats_df[['Team_ID','TeamName', 'tot_win_rain', 'tot_draw_rain', 'tot_loss_rain']]

In [299]:
rain_stats_df['tot_matches_rain'] = (rain_stats_df['tot_win_rain']+rain_stats_df['tot_draw_rain']+
                                     rain_stats_df['tot_loss_rain'])

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [300]:
rain_stats_df.head()

,Team_ID,TeamName,tot_win_rain,tot_draw_rain,tot_loss_rain,tot_matches_rain
0,34,Aachen,2,9,2,13
1,81,Arsenal,5,2,3,10
2,82,Aston Villa,2,6,4,12
3,15,Augsburg,6,3,2,11
4,1,Bayern Munich,5,0,6,11

In [304]:
rain_stats_df['win_pct_rain'] = rain_stats_df['tot_win_rain']/rain_stats_df['tot_matches_rain']

/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [305]:
rain_stats_df.head(10)

,Team_ID,TeamName,tot_win_rain,tot_draw_rain,tot_loss_rain,tot_matches_rain,win_pct_rain
0,34,Aachen,2,9,2,13,0.153846
1,81,Arsenal,5,2,3,10,0.500000
2,82,Aston Villa,2,6,4,12,0.166667
3,15,Augsburg,6,3,2,11,0.545455
4,1,Bayern Munich,5,0,6,11,0.454545
5,97,Blackburn,5,1,7,13,0.384615
6,28,Bochum,4,2,5,11,0.363636
7,106,Bolton,4,2,7,13,0.307692
8,23,Braunschweig,4,2,3,9,0.444444
9,83,Chelsea,5,3,4,12,0.416667

In [ ]:
#OOP conceptualization
class Team(object):
    
    def __init__(self, name, div, wins, draws, losses, goals):
        self.name = name
        self.div = div
        self.wins = wins
        self.draws = draws
        self.losses = losses
        self.goals = goals
        
    #functions to return more advanced stats

In [ ]:
#OOP concept for 
class WeatherGetter():
    
    def __init__(self, lat=47.6062, long=-122.3321, api_key):
        self.base_url = "https://api.darksky.net/forecast"
        self.lat = lat
        self.long = long
        self.api_key = api_key
        
    def get_weather_for_date(self, date_str):
        #modify weather function to return weather
        return pass;